# macOS システムファイル
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Xcodeプロジェクト（iOS/macOSアプリ開発の場合）
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
!*.xcworkspace/xcshareddata/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.xcworkspacedata
*.xcuserstate
**/xcschememanagement.plist


build/

examples/WiFiTest/Docker/raspi/ifw@*
